@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import '../utilities/base';
@import '../utilities/default-theme';

@import '../utilities/mixin';
[data-theme=default] {
    @import '../components/switch';
    font-family: $font_family;
    #body-content {
        max-width: 1200px;
        margin: auto;
    }
    h1, h2, h3, h4, h5, h6 {
        font-weight: 700;
    }
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.75em;
    }
    h3 {
        font-size: 1.25em;
    }
    h4 {
        font-size: 1em;
    }
    h5 {
        font-size: .75em;
    }
    h6 {
        font-size: .75em;
    }
    a {
        color: $secondary_color;
        &:hover, 
        &:active {
            color: lighten($secondary_color, 5%);
        }
    }
    .icon {
        @include transition(.2s);
        width: 100px;
        cursor: pointer;
        &:hover {
            transform: scale(1.2);
        }
        &:active {
            transform: scale(1.4);
        }
        &.small {
            width: 40px;
        }
    }
    .text- {
        &#{large} {
            @extend h2;
        }
        &#{center} {
            text-align: center;
        }
    }
    .logo-brands {
        display: block;
        a.logo-brand {
            display: inline-block;
            vertical-align: top;
            margin: 0 1em;
            span {
                height: 75px;
                display: block;
                width: min-content;
                min-width: 100%;
            }
            .fb-like {
                display: block;
                margin-top: 1em;
            }
            img {
                max-height: 200px;
            }
        }
    }
    #tab-container {
        display: table;
        width: 100%;
        .fix-mobile {
            // width: auto;
            // min-height: 300px;
        }
        #v-pills-tab {
            display: table-cell;
            width: 350px;
            vertical-align: top;
        }
        #v-pills-tabContent {
            display: table-cell;
            width: calc(100% - 350px);
        }
    }
    #feed {
        width: 100%;
    }
    @media only screen and ( max-width: 768px ){
        #tab-container {
            display: block;
            .fix-mobile {
                width: 100% !important;
                min-height: 300px !important;
            }
            .display-none-mobile {
                display: none;
            }
            #v-pills-tab {
                display: block;
                width: 100%;
            }
            #v-pills-tabContent {
                display: block;
                width: 100%;
            }
        }
    }
    .nav-pills {
        .nav-link.active, 
        .nav-link.active:hover, 
        .nav-link:active, 
        .show > .nav-link {
            color: $secondary_text_color;
            background-color: $secondary_color;
            cursor: default;
        }
        .nav-link {
            &:hover {
                color: $secondary_text_color;
                background-color: lighten($secondary_color, 15%);
                cursor: pointer;
            }
        }
    }
    .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle, 
    .btn-primary {
        color: $secondary_text_color;
        background-color: $secondary_color;
        border-color: transparentize($secondary_color, .5);
    }
    .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus, 
    .btn-primary.focus, .btn-primary:focus {
        box-shadow: 0 0 0 0.2rem transparentize($secondary_color, .5)

    }
}
@import '../utilities/dark-theme';
[data-theme=dark] {

}